[Unit]
Description=BLIKVM - web controller daemon
After=network.target
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/blikvm/start.sh
RemainAfterExit=false
Restart=always
RestartSec=3

[Install]
WantedBy=local-fs.target