[Unit]
Description=BLIKVM - web controller daemon
After=network.target
Requires=network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/blikvm/start.sh
RemainAfterExit=true
Restart=always

[Install]
WantedBy=local-fs.target