[Unit]
Description=BLIKVM - web controller daemon
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/blikvm/kvmd-web.sh
RemainAfterExit=true

[Install]
WantedBy=local-fs.target