[Unit]
Description=BLIKVM - janus controller daemon
After=busybox-syslogd.service

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 30
ExecStart=/opt/janus/bin/janus &
RemainAfterExit=true
Restart=always

[Install]
WantedBy=local-fs.target
