[Unit]
Description=BLIKVM - main controller daemon
After=network.target busybox-syslogd.service
Requires=network.target busybox-syslogd.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/blikvm/kvmd-main
TimeoutStartSec=10s
RemainAfterExit=true
Restart=always

[Install]
WantedBy=local-fs.target