[Unit]
Description=BLIKVM - main controller daemon
After=network.target busybox-syslogd.service
Requires=network.target busybox-syslogd.service

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/blikvm/kvmd-main.sh
TimeoutStartSec=13s
RemainAfterExit=true
Restart=always

[Install]
WantedBy=local-fs.target