[Unit]
Description=BLIKVM - video controller daemon
After=network.target
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/blikvm/kvmd-video.sh
TimeoutStartSec=100s
RemainAfterExit=true
Restart=always

[Install]
WantedBy=local-fs.target